<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Futuro Anteriore</div>
              <form id="formfuturoAnteriore">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroAnterioreIo"> io </span>
                              <input type="text" class="form-control" id="exfuturoAnterioreIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroAnterioreTu"> tu </span>
                              <input type="text" class="form-control" id="exfuturoAnterioreTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroAnterioreLui">lui</span>
                              <input type="text" class="form-control" id="exfuturoAnterioreLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroAnterioreNoi">noi</span>
                              <input type="text" class="form-control" id="exfuturoAnterioreNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroAnterioreVoi">voi</span>
                              <input type="text" class="form-control" id="exfuturoAnterioreVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroAnterioreLoro">loro</span>
                              <input type="text" class="form-control" id="exfuturoAnterioreLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>