<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Imperfetto</div>
              <form id="formImperfetto">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoIo"> io </span>
                              <input type="text" class="form-control" id="exImperfettoIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoTu"> tu </span>
                              <input type="text" class="form-control" id="exImperfettoTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoLui">lui</span>
                              <input type="text" class="form-control" id="exImperfettoLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoNoi">noi</span>
                              <input type="text" class="form-control" id="exImperfettoNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoVoi">voi</span>
                              <input type="text" class="form-control" id="exImperfettoVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoLoro">loro</span>
                              <input type="text" class="form-control" id="exImperfettoLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>