<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Passato Remoto</div>
              <form id="formpassatoRemoto">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoRemotoIo"> io </span>
                              <input type="text" class="form-control" id="expassatoRemotoIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoRemotoTu"> tu </span>
                              <input type="text" class="form-control" id="expassatoRemotoTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoRemotoLui">lui</span>
                              <input type="text" class="form-control" id="expassatoRemotoLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoRemotoNoi">noi</span>
                              <input type="text" class="form-control" id="expassatoRemotoNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoRemotoVoi">voi</span>
                              <input type="text" class="form-control" id="expassatoRemotoVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoRemotoLoro">loro</span>
                              <input type="text" class="form-control" id="expassatoRemotoLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>