<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Passato Prossimo</div>
              <form id="formpassatoProssimo">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoIo"> io </span>
                              <input type="text" class="form-control" id="expassatoProssimoIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoTu"> tu </span>
                              <input type="text" class="form-control" id="expassatoProssimoTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoLui">lui</span>
                              <input type="text" class="form-control" id="expassatoProssimoLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoNoi">noi</span>
                              <input type="text" class="form-control" id="expassatoProssimoNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoVoi">voi</span>
                              <input type="text" class="form-control" id="expassatoProssimoVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoLoro">loro</span>
                              <input type="text" class="form-control" id="expassatoProssimoLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Passato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.loro }}" id="answerpassatoProssimoLoro" hidden>
                                <span class="CSSverbsAnswerpassatoProssimoLoro">{{ verbo.loro }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>