<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Trapassato Prossimo</div>
              <form id="formtrapassatoProssimo">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoIo"> io </span>
                              <input type="text" class="form-control" id="extrapassatoProssimoIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoTu"> tu </span>
                              <input type="text" class="form-control" id="extrapassatoProssimoTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoLui">lui</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoNoi">noi</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoVoi">voi</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoLoro">loro</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>