<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Futuro Semplice</div>
              <form id="formfuturoSemplice">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroSempliceIo"> io </span>
                              <input type="text" class="form-control" id="exfuturoSempliceIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Futuro Semplice' %}
                                <input type="text" class="form-control" value="{{ verbo.io }}" id="answerfuturoSempliceIo" hidden>
                                <span class="CSSverbsAnswerfuturoSempliceIo">{{ verbo.io }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroSempliceTu"> tu </span>
                              <input type="text" class="form-control" id="exfuturoSempliceTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Futuro Semplice' %}
                                    <input type="text" class="form-control" value="{{ verbo.tu }}" id="answerfuturoSempliceTu" hidden>
                                    <span class="CSSverbsAnswerfuturoSempliceTu">{{ verbo.tu }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroSempliceLui">lui</span>
                              <input type="text" class="form-control" id="exfuturoSempliceLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Futuro Semplice' %}
                                <input type="text" class="form-control" value="{{ verbo.lui }}" id="answerfuturoSempliceLui" hidden>
                                <span class="CSSverbsAnswerfuturoSempliceLui">{{ verbo.lui }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroSempliceNoi">noi</span>
                              <input type="text" class="form-control" id="exfuturoSempliceNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Futuro Semplice' %}
                                    <input type="text" class="form-control" value="{{ verbo.noi }}" id="answerfuturoSempliceNoi" hidden>
                                    <span class="CSSverbsAnswerfuturoSempliceNoi">{{ verbo.noi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroSempliceVoi">voi</span>
                              <input type="text" class="form-control" id="exfuturoSempliceVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Futuro Semplice' %}
                                <input type="text" class="form-control" value="{{ verbo.voi }}" id="answerfuturoSempliceVoi" hidden>
                                <span class="CSSverbsAnswerfuturoSempliceVoi">{{ verbo.voi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="futuroSempliceLoro">loro</span>
                              <input type="text" class="form-control" id="exfuturoSempliceLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Futuro Semplice' %}
                                <input type="text" class="form-control" value="{{ verbo.loro }}" id="answerfuturoSempliceLoro" hidden>
                                <span class="CSSverbsAnswerfuturoSempliceLoro">{{ verbo.loro }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm mb-2">
                            <button type="button" class="btn btn-outline-primary" id="answerfuturoSemplice">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciafuturoSemplice">Ricomincia</button>
                      </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>