<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Imperfetto</div>
              <form id="formImperfetto">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoIo"> io </span>
                              <input type="text" class="form-control" id="exImperfettoIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Imperfetto' %}
                                <input type="text" class="form-control" value="{{ verbo.io }}" id="answerImperfettoIo" hidden>
                                <span class="CSSverbsAnswerImperfettoIo">{{ verbo.io }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoTu"> tu </span>
                              <input type="text" class="form-control" id="exImperfettoTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Imperfetto' %}
                                    <input type="text" class="form-control" value="{{ verbo.tu }}" id="answerImperfettoTu" hidden>
                                    <span class="CSSverbsAnswerImperfettoTu">{{ verbo.tu }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoLui">lui</span>
                              <input type="text" class="form-control" id="exImperfettoLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Imperfetto' %}
                                <input type="text" class="form-control" value="{{ verbo.lui }}" id="answerImperfettoLui" hidden>
                                <span class="CSSverbsAnswerImperfettoLui">{{ verbo.lui }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoNoi">noi</span>
                              <input type="text" class="form-control" id="exImperfettoNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Imperfetto' %}
                                    <input type="text" class="form-control" value="{{ verbo.noi }}" id="answerImperfettoNoi" hidden>
                                    <span class="CSSverbsAnswerImperfettoNoi">{{ verbo.noi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoVoi">voi</span>
                              <input type="text" class="form-control" id="exImperfettoVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Imperfetto' %}
                                <input type="text" class="form-control" value="{{ verbo.voi }}" id="answerImperfettoVoi" hidden>
                                <span class="CSSverbsAnswerImperfettoVoi">{{ verbo.voi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="ImperfettoLoro">loro</span>
                              <input type="text" class="form-control" id="exImperfettoLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Imperfetto' %}
                                <input type="text" class="form-control" value="{{ verbo.loro }}" id="answerImperfettoLoro" hidden>
                                <span class="CSSverbsAnswerImperfettoLoro">{{ verbo.loro }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm mb-2">
                          <button type="button" class="btn btn-outline-primary" id="answerImperfetto">Controlla</button>&nbsp;
                          <button type="button" class="btn btn-outline-secondary" id="ricominciaImperfetto">Ricomincia</button>
                      </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>