<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Passato Prossimo</div>
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoIo"> io </span>
                              <input type="text" class="form-control" id="expassatoProssimoIo">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Passato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.io }}" id="answerpassatoProssimoIo" hidden>
                                <span class="CSSverbsAnswerpassatoProssimoIo">{{ verbo.io }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoTu"> tu </span>
                              <input type="text" class="form-control" id="expassatoProssimoTu">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Passato Prossimo' %}
                                    <input type="text" class="form-control" value="{{ verbo.tu }}" id="answerpassatoProssimoTu" hidden>
                                    <span class="CSSverbsAnswerpassatoProssimoTu">{{ verbo.tu }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoLui">lui</span>
                              <input type="text" class="form-control" id="expassatoProssimoLui">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Passato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.lui }}" id="answerpassatoProssimoLui" hidden>
                                <span class="CSSverbsAnswerpassatoProssimoLui">{{ verbo.lui }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoNoi">noi</span>
                              <input type="text" class="form-control" id="expassatoProssimoNoi">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Passato Prossimo' %}
                                    <input type="text" class="form-control" value="{{ verbo.noi }}" id="answerpassatoProssimoNoi" hidden>
                                    <span class="CSSverbsAnswerpassatoProssimoNoi">{{ verbo.noi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoVoi">voi</span>
                              <input type="text" class="form-control" id="expassatoProssimoVoi">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Passato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.voi }}" id="answerpassatoProssimoVoi" hidden>
                                <span class="CSSverbsAnswerpassatoProssimoVoi">{{ verbo.voi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="passatoProssimoLoro">loro</span>
                              <input type="text" class="form-control" id="expassatoProssimoLoro">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Passato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.loro }}" id="answerpassatoProssimoLoro" hidden>
                                <span class="CSSverbsAnswerpassatoProssimoLoro">{{ verbo.loro }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm mb-2">
                          <button type="button" class="btn btn-outline-dark" id="answerpassatoProssimo">Controlla</button>
                      </div>
                      </td>
                  </tr>
              </table>
          </div>
        </div>