<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Presente</div>
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="presenteIo"> io </span>
                              <input type="text" class="form-control" id="exPresentIo">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Presente' %}
                                <input type="text" class="form-control" value="{{ verbo.io }}" id="answerPresenteIo" hidden>
                                <span class="CSSverbsAnswerPresentIo">{{ verbo.io }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="presenteTu"> tu </span>
                              <input type="text" class="form-control" id="exPresentTu">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Presente' %}
                                    <input type="text" class="form-control" value="{{ verbo.tu }}" id="answerPresenteTu" hidden>
                                    <span class="CSSverbsAnswerPresentTu">{{ verbo.tu }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="presenteLui">lui</span>
                              <input type="text" class="form-control" id="exPresentLui">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Presente' %}
                                <input type="text" class="form-control" value="{{ verbo.lui }}" id="answerPresenteLui" hidden>
                                <span class="CSSverbsAnswerPresentLui">{{ verbo.lui }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="presenteNoi">noi</span>
                              <input type="text" class="form-control" id="exPresentNoi">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Presente' %}
                                    <input type="text" class="form-control" value="{{ verbo.noi }}" id="answerPresenteNoi" hidden>
                                    <span class="CSSverbsAnswerPresentNoi">{{ verbo.noi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="presenteVoi">voi</span>
                              <input type="text" class="form-control" id="exPresentVoi">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Presente' %}
                                <input type="text" class="form-control" value="{{ verbo.voi }}" id="answerPresenteVoi" hidden>
                                <span class="CSSverbsAnswerPresentVoi">{{ verbo.voi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="presenteLoro">loro</span>
                              <input type="text" class="form-control" id="exPresentLoro">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Presente' %}
                                <input type="text" class="form-control" value="{{ verbo.loro }}" id="answerPresenteLoro" hidden>
                                <span class="CSSverbsAnswerPresentLoro">{{ verbo.loro }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm mb-2">
                          <button type="button" class="btn btn-outline-dark" id="answerPresente">Controlla</button>
                      </div>
                      </td>
                  </tr>
              </table>
          </div>
        </div>