<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo Start -->
      <a class="mr-2" href="{{ url_for('ind.index') }}">
          <img src="{{ url_for('static', filename='image/logo.png') }}" class="logoTopMenu" alt="http://www.practiceTheVerb.com">
      </a>
    <!-- Logo End -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('ind.index') }}"><i class="fas fa-home"></i> L'inizio</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('ita.italianoMain') }}"><i class="fas fa-th-list"></i> Elenco dei verbi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="far fa-edit"></i> Scegli un verbo:</a>
          </li>
            <li class="nav-item">
                 <form class="form-inline" method="POST" action="{{ url_for('ita.italianoAltroVerbo') }}" enctype="multipart/form-data">
                     <input type="text" class="mr-1" name="verbo" id="verbo" autofocus>
                    <button class="btn btn-outline-success my-2 my-sm-0 pt-0 pb-0 m-1" type="submit">Ricerca</button>
                </form>
            </li>
        </ul>

      </div>
    </nav>

    <!-- ##### Flask Messages start ##### -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- ##### Flask Messages end ##### -->

</div>