<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Trapassato Remoto</div>
              <form id="formtrapassatoRemoto">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoRemotoIo"> io </span>
                              <input type="text" class="form-control" id="extrapassatoRemotoIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Remoto' %}
                                <input type="text" class="form-control" value="{{ verbo.io }}" id="answertrapassatoRemotoIo" hidden>
                                <span class="CSSverbsAnswertrapassatoRemotoIo">{{ verbo.io }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoRemotoTu"> tu </span>
                              <input type="text" class="form-control" id="extrapassatoRemotoTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Remoto' %}
                                    <input type="text" class="form-control" value="{{ verbo.tu }}" id="answertrapassatoRemotoTu" hidden>
                                    <span class="CSSverbsAnswertrapassatoRemotoTu">{{ verbo.tu }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoRemotoLui">lui</span>
                              <input type="text" class="form-control" id="extrapassatoRemotoLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Remoto' %}
                                <input type="text" class="form-control" value="{{ verbo.lui }}" id="answertrapassatoRemotoLui" hidden>
                                <span class="CSSverbsAnswertrapassatoRemotoLui">{{ verbo.lui }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoRemotoNoi">noi</span>
                              <input type="text" class="form-control" id="extrapassatoRemotoNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Remoto' %}
                                    <input type="text" class="form-control" value="{{ verbo.noi }}" id="answertrapassatoRemotoNoi" hidden>
                                    <span class="CSSverbsAnswertrapassatoRemotoNoi">{{ verbo.noi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoRemotoVoi">voi</span>
                              <input type="text" class="form-control" id="extrapassatoRemotoVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Remoto' %}
                                <input type="text" class="form-control" value="{{ verbo.voi }}" id="answertrapassatoRemotoVoi" hidden>
                                <span class="CSSverbsAnswertrapassatoRemotoVoi">{{ verbo.voi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoRemotoLoro">loro</span>
                              <input type="text" class="form-control" id="extrapassatoRemotoLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Remoto' %}
                                <input type="text" class="form-control" value="{{ verbo.loro }}" id="answertrapassatoRemotoLoro" hidden>
                                <span class="CSSverbsAnswertrapassatoRemotoLoro">{{ verbo.loro }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm mb-2">
                            <button type="button" class="btn btn-outline-primary" id="answertrapassatoRemoto">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciatrapassatoRemoto">Ricomincia</button>
                      </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>