<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Trapassato Prossimo</div>
              <form id="formtrapassatoProssimo">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoIo"> io </span>
                              <input type="text" class="form-control" id="extrapassatoProssimoIo" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.io }}" id="answertrapassatoProssimoIo" hidden>
                                <span class="CSSverbsAnswertrapassatoProssimoIo">{{ verbo.io }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoTu"> tu </span>
                              <input type="text" class="form-control" id="extrapassatoProssimoTu" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Prossimo' %}
                                    <input type="text" class="form-control" value="{{ verbo.tu }}" id="answertrapassatoProssimoTu" hidden>
                                    <span class="CSSverbsAnswertrapassatoProssimoTu">{{ verbo.tu }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoLui">lui</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoLui" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.lui }}" id="answertrapassatoProssimoLui" hidden>
                                <span class="CSSverbsAnswertrapassatoProssimoLui">{{ verbo.lui }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoNoi">noi</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoNoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Prossimo' %}
                                    <input type="text" class="form-control" value="{{ verbo.noi }}" id="answertrapassatoProssimoNoi" hidden>
                                    <span class="CSSverbsAnswertrapassatoProssimoNoi">{{ verbo.noi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoVoi">voi</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoVoi" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.voi }}" id="answertrapassatoProssimoVoi" hidden>
                                <span class="CSSverbsAnswertrapassatoProssimoVoi">{{ verbo.voi }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div class="input-group input-group-sm mb-2">
                              <span class="input-group-text" id="trapassatoProssimoLoro">loro</span>
                              <input type="text" class="form-control" id="extrapassatoProssimoLoro" oninput="this.value = this.value.toLowerCase()">
                          </div>
                      </td>
                      <td>
                          <div>
                              {% for verbo in ilverbo %}
                                {% if verbo.tempo == 'Trapassato Prossimo' %}
                                <input type="text" class="form-control" value="{{ verbo.loro }}" id="answertrapassatoProssimoLoro" hidden>
                                <span class="CSSverbsAnswertrapassatoProssimoLoro">{{ verbo.loro }}</span>
                                {% endif %}
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td colspan="2" class="text-center">
                        <div class="input-group input-group-sm mb-2">
                            <button type="button" class="btn btn-outline-primary" id="answertrapassatoProssimo">Controlla</button>&nbsp;
                            <button type="button" class="btn btn-outline-secondary" id="ricominciatrapassatoProssimo">Ricomincia</button>
                      </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>