<script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
</script>

<!-- Modal for Message from users -->
<div class="modal fade" id="talkToUsModal" tabindex="-1" role="dialog" aria-labelledby="talkToUsLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="container modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send us a message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- Message Start -->
                <div class="classynav">
                    <!-- ##### Form Edit Start ##### -->
                    <form method="POST" action="{{ url_for('ind.talkToUs') }}">
                        <div class="mb-2"><label>Name:</label> <input class="form-control" type="text"
                                    id="name" name="name" placeholder="Name" required autofocus></div>
                        <div class="mb-2"><label>e-Mail:</label> <input class="form-control" type="email"
                                    id="email" name="email" placeholder="e-Mail" required autofocus></div>
                        <div class="mb-2"><label>Subject:</label> <input class="form-control" type="text"
                                    id="subject" name="subject" placeholder="Subject" required></div>
                        <div class="mb-2"><label>Message:</label> <textarea class="form-control" type="text"
                                    id="message" name="message" placeholder="Your message" required rows="4"></textarea></div>
                        <div class="g-recaptcha mb-2 text-center d-grid gap-2" data-sitekey="6LcdKBUeAAAAAPFhAJQrgi9uHRDIaV7mbNAYyxPq"></div>
                        <div class="mb-2 text-center d-grid gap-2"><button type="submit" class="btn btn-secondary btn-sm">&nbsp; -- Send -- &nbsp;</button></div>
                    </form>
                    <!-- ##### Form Edit End ##### -->
                </div>
                <!-- Message End -->
            </div>
        </div>
    </div>
</div>