<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Passato</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="participioPassato" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.participioPassato }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>