<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Futuro Semplice</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoSempliceIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoSempliceIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoSempliceIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoSempliceTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoSempliceTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoSempliceTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoSempliceLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoSempliceLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoSempliceLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoSempliceNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoSempliceNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoSempliceNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoSempliceVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoSempliceVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoSempliceVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoSempliceLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoSempliceLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoSempliceLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>