<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Futuro Anteriore</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoAnterioreIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoAnterioreIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoAnterioreIo }}">
                      {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoAnterioreTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoAnterioreTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoAnterioreTu }}">
                      {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoAnterioreLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoAnterioreLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoAnterioreLui }}">
                      {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoAnterioreNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoAnterioreNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoAnterioreNoi }}">
                      {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoAnterioreVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoAnterioreVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoAnterioreVoi }}">
                      {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoFuturoAnterioreLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoFuturoAnterioreLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoFuturoAnterioreLoro }}">
                      {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>