<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Imperfetto</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoImperfettoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoImperfettoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoImperfettoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoImperfettoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoImperfettoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoImperfettoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoImperfettoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoImperfettoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoImperfettoLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoImperfettoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoImperfettoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoImperfettoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoImperfettoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoImperfettoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoImperfettoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoImperfettoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoImperfettoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoImperfettoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>