<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Presente</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPresenteIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPresenteIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPresenteTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPresenteTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPresenteLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPresenteLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPresenteNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPresenteNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPresenteVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPresenteVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPresenteLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPresenteLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>