<div class="col pt-1 pb-1">
          <div class="p-3 border bg-light">
              <div class="text-center">Presente</div>
              <form id="formindicativoPresente">
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="indicativoPresenteIo"> io </span>
                              <input type="text" class="form-control" id="exindicativoPresenteIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteIo }}">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="indicativoPresenteTu"> tu </span>
                              <input type="text" class="form-control" id="exindicativoPresenteTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteTu }}">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="indicativoPresenteLui">lui</span>
                              <input type="text" class="form-control" id="exindicativoPresenteLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteLui }}">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="indicativoPresenteNoi">noi</span>
                              <input type="text" class="form-control" id="exindicativoPresenteNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteNoi }}">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="indicativoPresenteVoi">voi</span>
                              <input type="text" class="form-control" id="exindicativoPresenteVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteVoi }}">
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="indicativoPresenteLoro">loro</span>
                              <input type="text" class="form-control" id="exindicativoPresenteLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPresenteLoro }}">
                          </div>
                      </td>
                  </tr>
              </table>
              </form>
          </div>
        </div>