<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Trapassato Remoto</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoRemotoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoRemotoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoRemotoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoRemotoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoRemotoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoRemotoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoRemotoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoRemotoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoRemotoLui }}">
                          {% endfor %}
                      </div>
                  </td>

              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoRemotoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoRemotoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoRemotoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoRemotoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoRemotoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoRemotoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoRemotoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoRemotoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoRemotoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>