<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Passato</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPassatoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPassatoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPassatoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPassatoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPassatoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPassatoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPassatoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPassatoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPassatoLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPassatoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPassatoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPassatoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPassatoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPassatoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPassatoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPassatoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPassatoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPassatoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>