<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Trapassato</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoTrapassatoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoTrapassatoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoTrapassatoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoTrapassatoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoTrapassatoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoTrapassatoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoTrapassatoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoTrapassatoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoTrapassatoLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoTrapassatoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoTrapassatoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoTrapassatoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoTrapassatoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoTrapassatoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoTrapassatoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoTrapassatoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoTrapassatoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoTrapassatoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
    </div>