<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Presente</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="condizionalePresenteIo"> io </span>
                          <input type="text" class="form-control" name="condizionalePresenteIo" oninput="this.value = this.value.toLowerCase()">
                      </div>
                  </td>
                  <td  class="pb-0 mb-0">
                      <div>
                          {% for verbo in ilverbo %}
                            {% if verbo.tempo == 'condizionalePresente' %}
                            <input type="text" class="form-control" value="{{ verbo.condizionalePresenteIo }}" id="answercondizionalePresenteIo" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteIo">{{ verbo.condizionalePresenteIo }}</span>
                            {% endif %}
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="condizionalePresenteTu"> tu </span>
                          <input type="text" class="form-control" name="condizionalePresenteTu" oninput="this.value = this.value.toLowerCase()">
                      </div>
                  </td>
                  <td  class="pb-0 mb-0">
                      <div>
                          {% for verbo in ilverbo %}
                            {% if verbo.tempo == 'condizionalePresente' %}
                                <input type="text" class="form-control" value="{{ verbo.condizionalePresenteTu }}" id="answercondizionalePresenteTu" hidden>
                                <span class="CSSverbsAnswercondizionalePresenteTu">{{ verbo.condizionalePresenteTu }}</span>
                            {% endif %}
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="condizionalePresenteLui">lui</span>
                          <input type="text" class="form-control" name="condizionalePresenteLui" oninput="this.value = this.value.toLowerCase()">
                      </div>
                  </td>
                  <td  class="pb-0 mb-0">
                      <div>
                          {% for verbo in ilverbo %}
                            {% if verbo.tempo == 'condizionalePresente' %}
                            <input type="text" class="form-control" value="{{ verbo.condizionalePresenteLui }}" id="answercondizionalePresenteLui" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteLui">{{ verbo.condizionalePresenteLui }}</span>
                            {% endif %}
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="condizionalePresenteNoi">noi</span>
                          <input type="text" class="form-control" name="condizionalePresenteNoi" oninput="this.value = this.value.toLowerCase()">
                      </div>
                  </td>
                  <td  class="pb-0 mb-0">
                      <div>
                          {% for verbo in ilverbo %}
                                <input type="text" class="form-control" value="{{ verbo.condizionalePresenteNoi }}" id="answercondizionalePresenteNoi" hidden>
                                <span class="CSSverbsAnswercondizionalePresenteNoi">{{ verbo.condizionalePresenteNoi }}</span>
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="condizionalePresenteVoi">voi</span>
                          <input type="text" class="form-control" name="condizionalePresenteVoi" oninput="this.value = this.value.toLowerCase()">
                      </div>
                  </td>
                  <td  class="pb-0 mb-0">
                      <div>
                          {% for verbo in ilverbo %}
                            <input type="text" class="form-control" value="{{ verbo.condizionalePresenteVoi }}" id="answercondizionalePresenteVoi" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteVoi">{{ verbo.condizionalePresenteVoi }}</span>
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="condizionalePresenteLoro">loro</span>
                          <input type="text" class="form-control" name="condizionalePresenteLoro" oninput="this.value = this.value.toLowerCase()">
                      </div>
                  </td>
                  <td  class="pb-0 mb-0">
                      <div>
                          {% for verbo in ilverbo %}
                            <input type="text" class="form-control" value="{{ verbo.condizionalePresenteLoro }}" id="answercondizionalePresenteLoro" hidden>
                            <span class="CSSverbsAnswercondizionalePresenteLoro">{{ verbo.condizionalePresenteLoro }}</span>
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>