.bg { 
  background: url(../image/pexels-gizem-7939051.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
}
footer {
  text-align: center;
  background-color: black;
  color: white;
}
footer a {
  color: white;
}
.logoFooter {
    width: 65% !important;
    height: 65% !important;
}