/* MOBILE FIRST */

/*  BACKGROUND  */
.bg { 
  background: url(../image/pexels-gizem-7939051.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
}

.bgIndex {
  background: url(../image/mike-swigunski-LUdSrJw-BII-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
}

/*  ALL THE PAGES  */

  /*  Transparent backgroung to Verbs DIV  */
  .bgTransparentVerbs {
    background-color: rgba(200, 200, 200, 0.3);
  }

/* .centered { 
  position: fixed; /* or absolute */
/* top: 50%;
  left: 50%;
} */


/*  FOOTER  */

footer {
  text-align: center;
  background-color: black;
  color: white;
}
footer a {
  color: white;
}
.logoFooter {
    width: 65% !important;
    height: 65% !important;
}

/*  EFFECTS TO THE VERB PAGE  */

#shineVerb {
  background-color: rgb(248, 249, 250);
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: rgb(0, 89, 255);}
  to {background-color: rgb(248, 249, 250);}
  from {color: white;}
  to {color: black;}
}


.indexLogo{
  width: 100%;
  min-width: 100px;
  height: auto;
}

/* CSS for Smartphones */

@media screen and (max-width: 480px) {

  .indexLogo{
    max-width: 150px;
  }
}


/* CSS for Tablets */

@media screen and (min-width: 481px) and (max-width: 800px) {

  .indexLogo{
    max-width: 200px;
  }

}


/* CSS for Big Screens */

@media screen and (min-width: 801px) {
  
  .indexLogo{

      max-width: 350px;
  }

}