/* ----------------------------- */
/*           PRESENTE           */

.CSSverbsAnswerPresenteIo {
    display: none;
}

.CSSverbsAnswerPresenteTu {
    display: none;
}

.CSSverbsAnswerPresenteLui {
    display: none;
}

.CSSverbsAnswerPresenteNoi {
    display: none;
}

.CSSverbsAnswerPresenteVoi {
    display: none;
}

.CSSverbsAnswerPresenteLoro {
    display: none;
}


/* ----------------------------- */
/*       PASSATO PROSSIMO       */

.CSSverbsAnswerpassatoProssimoIo {
    display: none;
}

.CSSverbsAnswerpassatoProssimoTu {
    display: none;
}

.CSSverbsAnswerpassatoProssimoLui {
    display: none;
}

.CSSverbsAnswerpassatoProssimoNoi {
    display: none;
}

.CSSverbsAnswerpassatoProssimoVoi {
    display: none;
}

.CSSverbsAnswerpassatoProssimoLoro {
    display: none;
}


/* ----------------------------- */
/*          Imperfetto           */

.CSSverbsAnswerImperfettoIo {
    display: none;
}

.CSSverbsAnswerImperfettoTu {
    display: none;
}

.CSSverbsAnswerImperfettoLui {
    display: none;
}

.CSSverbsAnswerImperfettoNoi {
    display: none;
}

.CSSverbsAnswerImperfettoVoi {
    display: none;
}

.CSSverbsAnswerImperfettoLoro {
    display: none;
}


/* ----------------------------- */
/*      Trapassato prossimo      */

.CSSverbsAnswertrapassatoProssimoIo {
    display: none;
}

.CSSverbsAnswertrapassatoProssimoTu {
    display: none;
}

.CSSverbsAnswertrapassatoProssimoLui {
    display: none;
}

.CSSverbsAnswertrapassatoProssimoNoi {
    display: none;
}

.CSSverbsAnswertrapassatoProssimoVoi {
    display: none;
}

.CSSverbsAnswertrapassatoProssimoLoro {
    display: none;
}


/* ----------------------------- */
/*         Passato remoto        */

.CSSverbsAnswerpassatoRemotoIo {
    display: none;
}

.CSSverbsAnswerpassatoRemotoTu {
    display: none;
}

.CSSverbsAnswerpassatoRemotoLui {
    display: none;
}

.CSSverbsAnswerpassatoRemotoNoi {
    display: none;
}

.CSSverbsAnswerpassatoRemotoVoi {
    display: none;
}

.CSSverbsAnswerpassatoRemotoLoro {
    display: none;
}


/* ----------------------------- */
/*         Trapassato remoto        */

.CSSverbsAnswertrapassatoRemotoIo {
    display: none;
}

.CSSverbsAnswertrapassatoRemotoTu {
    display: none;
}

.CSSverbsAnswertrapassatoRemotoLui {
    display: none;
}

.CSSverbsAnswertrapassatoRemotoNoi {
    display: none;
}

.CSSverbsAnswertrapassatoRemotoVoi {
    display: none;
}

.CSSverbsAnswertrapassatoRemotoLoro {
    display: none;
}


/* ----------------------------- */
/*        Fururo Semplice        */

.CSSverbsAnswerfuturoSempliceIo {
    display: none;
}

.CSSverbsAnswerfuturoSempliceTu {
    display: none;
}

.CSSverbsAnswerfuturoSempliceLui {
    display: none;
}

.CSSverbsAnswerfuturoSempliceNoi {
    display: none;
}

.CSSverbsAnswerfuturoSempliceVoi {
    display: none;
}

.CSSverbsAnswerfuturoSempliceLoro {
    display: none;
}


/* ----------------------------- */
/*        Fururo Anteriore        */

.CSSverbsAnswerfuturoAnterioreIo {
    display: none;
}

.CSSverbsAnswerfuturoAnterioreTu {
    display: none;
}

.CSSverbsAnswerfuturoAnterioreLui {
    display: none;
}

.CSSverbsAnswerfuturoAnterioreNoi {
    display: none;
}

.CSSverbsAnswerfuturoAnterioreVoi {
    display: none;
}

.CSSverbsAnswerfuturoAnterioreLoro {
    display: none;
}
