.CSSverbsAnswerPresentIo {
    display: none;
}

.CSSverbsAnswerPresentTu {
    display: none;
}

.CSSverbsAnswerPresentLui {
    display: none;
}

.CSSverbsAnswerPresentNoi {
    display: none;
}

.CSSverbsAnswerPresentVoi {
    display: none;
}

.CSSverbsAnswerPresentLoro {
    display: none;
}

