/* ----------------------------- */
/*           PRESENTE           */

.CSSverbsAnswerCondizionalePresenteIo {
    display: none;
}

.CSSverbsAnswerCondizionalePresenteTu {
    display: none;
}

.CSSverbsAnswerCondizionalePresenteLui {
    display: none;
}

.CSSverbsAnswerCondizionalePresenteNoi {
    display: none;
}

.CSSverbsAnswerCondizionalePresenteVoi {
    display: none;
}

.CSSverbsAnswerCondizionalePresenteLoro {
    display: none;
}


/* ----------------------------- */
/*       PASSATO PROSSIMO       */

.CSSverbsAnswerCondizionalepassatoProssimoIo {
    display: none;
}

.CSSverbsAnswerCondizionalepassatoProssimoTu {
    display: none;
}

.CSSverbsAnswerCondizionalepassatoProssimoLui {
    display: none;
}

.CSSverbsAnswerCondizionalepassatoProssimoNoi {
    display: none;
}

.CSSverbsAnswerCondizionalepassatoProssimoVoi {
    display: none;
}

.CSSverbsAnswerCondizionalepassatoProssimoLoro {
    display: none;
}
