/* ----------------------------- */
/*           PRESENTE           */

.CSSverbsAnswerPresentIo {
    display: none;
}

.CSSverbsAnswerPresentTu {
    display: none;
}

.CSSverbsAnswerPresentLui {
    display: none;
}

.CSSverbsAnswerPresentNoi {
    display: none;
}

.CSSverbsAnswerPresentVoi {
    display: none;
}

.CSSverbsAnswerPresentLoro {
    display: none;
}

/* ----------------------------- */
/*       PASSATO PROSSIMO       */

.CSSverbsAnswerpassatoProssimoIo {
    display: none;
}

.CSSverbsAnswerpassatoProssimoTu {
    display: none;
}

.CSSverbsAnswerpassatoProssimoLui {
    display: none;
}

.CSSverbsAnswerpassatoProssimoNoi {
    display: none;
}

.CSSverbsAnswerpassatoProssimoVoi {
    display: none;
}

.CSSverbsAnswerpassatoProssimoLoro {
    display: none;
}
