<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Logo Start -->
      <a class="mr-2" href="{{ url_for('verbInd.index') }}">
          <img src="{{ url_for('static', filename='verbItaliano/image/logo.png') }}" class="logoTopMenu"
               alt="practiceTheVerb.com, Verbs in Italian, English and others">
      </a>
    <!-- Logo End -->

    <!-- Top Menu Colapse items Start -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('verbInd.index') }}"><i class="fas fa-home"></i> L'inizio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('verbIta.italianoMain') }}"><i class="fas fa-th-list"></i> Elenco dei verbi</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#instructionItalianModal"><i class="fas fa-clipboard-list"></i> Istruzioni</a>
            </li>
        </ul>
      </div>
    </nav>
    <!-- Top Menu Colapse items End -->

    <!-- Top Menu Find verbs, non-Colapse items Start -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="far fa-edit"></i> Scegli un verbo / Choose a verb:</a>
            </li>
            <li class="nav-item active">
                <form class="form-inline" method="POST" action="{{ url_for('verbIta.italianoAltroVerbo') }}" enctype="multipart/form-data">
                     <input type="text" class="" name="verbo" id="verbo" autofocus>
                    <button class="btn btn-outline-success my-2 my-sm-0 pt-0 pb-0 m-1" type="submit">Ricerca / Find</button>
                </form>
            </li>
        </ul>
    </nav>
    <!-- Top Menu Find verbs, non-Colapse items End -->

    <!-- ##### Flask Messages start ##### -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                    </div>
                {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- ##### Flask Messages end ##### -->

</div>