<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Imperfetto</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoImperfettoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoImperfettoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoImperfettoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoImperfettoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoImperfettoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoImperfettoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoImperfettoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoImperfettoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoImperfettoLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoImperfettoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoImperfettoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoImperfettoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoImperfettoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoImperfettoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoImperfettoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoImperfettoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoImperfettoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoImperfettoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>