<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Presente</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPresenteIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPresenteIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPresenteIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPresenteTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPresenteTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPresenteTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPresenteLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPresenteLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPresenteLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPresenteNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPresenteNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPresenteNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPresenteVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPresenteVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPresenteVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="congiuntivoPresenteLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="congiuntivoPresenteLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.congiuntivoPresenteLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>

      </div>
</div>