<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Presente</div>
              <table class="table table-borderless p-0 m-0">
                  <tr>
                      <td  class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="imperativoPresenteTu"> tu </span>{% for verbo in ilverbo %}
                              <input type="text" class="form-control" name="imperativoPresenteTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.imperativoPresenteTu }}">
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td  class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="imperativoPresenteLui">lui</span>{% for verbo in ilverbo %}
                              <input type="text" class="form-control" name="imperativoPresenteLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.imperativoPresenteLui }}">
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td  class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="imperativoPresenteNoi">noi</span>{% for verbo in ilverbo %}
                              <input type="text" class="form-control" name="imperativoPresenteNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.imperativoPresenteNoi }}">
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td  class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="imperativoPresenteVoi">voi</span>{% for verbo in ilverbo %}
                              <input type="text" class="form-control" name="imperativoPresenteVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.imperativoPresenteVoi }}">
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
                  <tr>
                      <td  class="pb-0 mb-0">
                          <div class="input-group input-group-sm">
                              <span class="input-group-text" id="imperativoPresenteLoro">loro</span>{% for verbo in ilverbo %}
                              <input type="text" class="form-control" name="imperativoPresenteLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.imperativoPresenteLoro }}">
                              {% endfor %}
                          </div>
                      </td>
                  </tr>
              </table>
      </div>
</div>