{% extends 'italiano/base.html' %}
{% block content %}

    <!-- Main Buttons controlling all -->
    <div class="container pb-4 text-center">
      <div class="row row-cols-1">
        <div class="col">
          <h4 class="p-3 border"   id="shineVerb">Verbo&nbsp; "{% for item in ilverbo %}{{ item.infinitivoPresente|capitalize }}{% endfor %}"</h4>
            <button type="button" class="btn btn-outline-primary btn-lg btn-block" id="controllaTutti">Controlla tutti / Check them all</button>
            <button type="button" class="btn btn-outline-secondary btn-lg btn-block" id="ricominciaTutti">Cancella tutto / Clear all</button>
        </div>
      </div>
    </div>

    <!-- Verbs INDICATIVO START-->
    <div class="container">
      <div class="p-3 border bgTransparentVerbs">
        <div class="text-center"><h4>INDICATIVO (Indicative)</h4></div>
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
              <!-- ##### Partial Presente ##### -->
                {% include 'italiano/partials/indicativo/presente.html' %}

              <!-- ##### Partial Passato Prossimo ##### -->
                {% include 'italiano/partials/indicativo/passatoProssimo.html' %}

              <!-- ##### Partial Imperfetto ##### -->
                {% include 'italiano/partials/indicativo/imperfetto.html' %}

              <!-- ##### Partial Trapassato Prossimo ##### -->
                {% include 'italiano/partials/indicativo/trapassatoProssimo.html' %}

              <!-- ##### Partial Passato Remoto ##### -->
                {% include 'italiano/partials/indicativo/passatoRemoto.html' %}

              <!-- ##### Partial Passato Remoto ##### -->
                {% include 'italiano/partials/indicativo/trapassatoRemoto.html' %}

              <!-- ##### Partial Futuro Semplice ##### -->
                {% include 'italiano/partials/indicativo/futuroSemplice.html' %}

              <!-- ##### Partial Futuro Anteriore ##### -->
                {% include 'italiano/partials/indicativo/futuroAnteriore.html' %}
          </div>
      </div>
    </div>


    <!-- Verbs CONDIZIONALE -->
    {% for item in ilverbo %}
    {% for condizionale in verbiCondizionale %}
        {% if condizionale.infinitivoPresente == item.infinitivoPresente %}
        <!-- DIVISION LINE -->
        <div class="container"><hr></div>

            <div class="container">
              <div class="p-3 border bgTransparentVerbs">
                <div class="text-center"><h4>Condizionale (Conditional)</h4></div>
                  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
                      <!-- ##### Partial Presente ##### -->
                        {% include 'italiano/partials/condizionale/presente.html' %}

                      <!-- ##### Partial Passato ##### -->
                        {% include 'italiano/partials/condizionale/passato.html' %}
                  </div>
              </div>
            </div>
        {% endif %}
    {% endfor %}
    {% endfor %}

    <!-- DIVISION LINE -->
    <div class="container"><hr></div>
    <!-- Verbs INDICATIVO END-->


    <!-- Verbs CONGIUNTIVO START-->
    <div class="container">
      <div class="p-3 border bgTransparentVerbs">
        <div class="text-center"><h4>CONGIUNTIVO (Subjunctive)</h4></div>
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
              <!-- ##### Partial Presente ##### -->
                {% include 'italiano/partials/congiuntivo/presente.html' %}

              <!-- ##### Partial Passato ##### -->
                {% include 'italiano/partials/congiuntivo/passato.html' %}

              <!-- ##### Partial Imperfetto ##### -->
                {% include 'italiano/partials/congiuntivo/imperfetto.html' %}

              <!-- ##### Partial Trapassato ##### -->
                {% include 'italiano/partials/congiuntivo/trapassato.html' %}
          </div>
      </div>
    </div>

    <!-- DIVISION LINE -->
    <div class="container"><hr></div>
    <!-- Verbs CONGIUNTIVO END-->


    <!-- Verbs IMPERATIVO START -->
    <div class="container">
      <div class="p-3 border bgTransparentVerbs">
        <div class="text-center"><h4>Imperativo (Imperative)</h4></div>
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
              <!-- ##### Partial Imperativo ##### -->
                {% include 'italiano/partials/imperativo/presente.html' %}
          </div>
      </div>
    </div>

    <!-- DIVISION LINE -->
    <div class="container"><hr></div>
    <!-- Verbs IMPERATIVO END -->


    <!-- Verbs INFINITO START-->
    <div class="container">
      <div class="p-3 border bgTransparentVerbs">
        <div class="text-center"><h4>INFINITO (Infinitive)</h4></div>
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
              <!-- ##### Partial Infinito ##### -->
                {% include 'italiano/partials/infinitivo/presente.html' %}

              <!-- ##### Partial Infinito Passato ##### -->
                {% include 'italiano/partials/infinitivo/passato.html' %}
          </div>
      </div>
    </div>

    <!-- DIVISION LINE -->
    <div class="container"><hr></div>
    <!-- Verbs INFINITO END-->


    <!-- Verbs PARTICIPIO START -->
    <div class="container">
      <div class="p-3 border bgTransparentVerbs">
        <div class="text-center"><h4>PARTICIPIO (Participle)</h4></div>
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
              <!-- ##### Partial Participio ##### -->
                {% include 'italiano/partials/participio/presente.html' %}

              <!-- ##### Partial Passato ##### -->
                {% include 'italiano/partials/participio/passato.html' %}
          </div>
      </div>
    </div>

    <!-- DIVISION LINE -->
    <div class="container"><hr></div>
    <!-- Verbs PARTICIPIO END -->


    <!-- Verbs GERUNDIO START-->
    <div class="container">
      <div class="p-3 border bgTransparentVerbs">
        <div class="text-center"><h4>GERUNDIO (Gerund)</h4></div>
          <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-2">
              <!-- ##### Partial Presente ##### -->
                {% include 'italiano/partials/gerundio/presente.html' %}

              <!-- ##### Partial Passato ##### -->
                {% include 'italiano/partials/gerundio/passato.html' %}
          </div>
      </div>
    </div>
    <!-- Verbs GERUNDIO END-->


{% endblock %}