{% extends 'italiano/base.html' %}
{% block content %}
    <div class="container">

        <h2 class="text-center mt-1 mb-2">TOP 20:</h2>
        <div class="">
            {% for item in verbi|map(attribute='verbo')|unique|list|sort %}
                {% if item in top20 %}
                  <a href="{{ url_for('ita.italianoVerbo', verbo=item) }}" class="button2 bouncy">{{ item|capitalize }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <hr/>

        <h2 class="text-center mt-1 mb-2">Verbi più popolari, in ordine alfabetico:</h2>


        <!-- ##### Alphabetic menu START ##### -->
        <h3 class="greyColor text-center fontShadow p-2 m-2">|
            {% for letter in sequence %}
            &nbsp; <a href="#{{ letter }}" class="text-success"> {{ letter|capitalize }} </a> &nbsp; |
            {% endfor %}
        </h3>
        <hr/>
        <!-- ##### Alphabetic menu END ##### -->


        {% for letter in sequence %}
        <h3 class="greyColor text-center fontShadow"><div id="{{ letter }}"> <i class="fas fa-ellipsis-h"></i>  <b>{{ letter|capitalize }}</b>  <i class="fas fa-ellipsis-h"></i> </div></h3>
        <div class="text-justify">
            {% for item in verbi|map(attribute='verbo')|unique|list|sort %}
                    {% if item[0] == letter and item in top20 %}
                        <a href="{{ url_for('ita.italianoVerbo', verbo=item) }}"
                           class="btn btn-link m-1 text-success textUpercase fontShadow"><b>{{ item }}</b>
                        </a>
                    {% elif item[0] == letter %}
                        <a href="{{ url_for('ita.italianoVerbo', verbo=item) }}"
                        class="btn btn-link m-1 text-success textUpercase"> {{ item|capitalize }}
                        </a>
                    {% endif %}
            {% endfor %}
        </div>
        <br>
        {% endfor %}
    </div>
{% endblock %}