<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pratica i verbi</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">
    <link rel="shortcut icon" href="#" />
</head>
<body>
    <div class="container m-4 p-4 text-center">
        <div class="d-grid gap-2">
          <a href="{{ url_for('ita.italianoMain') }}"><button class="btn btn-primary" type="button">Link ai verbi italiani</button></a>
        </div>
    </div>
</body>
</html>