 <!-- ##### APP Music School Start ##### -->
<article class="initiallyHidden" id="dataMusicSchool">
    <div class="dropdown_position apps">
        <h2 class="secondMessage"><a href="https://raphaelcordon.herokuapp.com/music_school" id="app_musicschool" target="_blank">https://raphaelcordon.herokuapp.com/music_school</a></h2>
        <p><br>
            The app intends to simulate basic functions for the daily-basis routine of a music school.<br>
            Three layers of accesses are set where:<br>
            <dt>Admin:</dt>&nbsp; Has full access to create, update and remove courses, instructors and students.<br>
            <dt>Instructors:</dt>&nbsp; Can create classes, add and remove students from classes.<br>
            <dt>Students:</dt>&nbsp; Can see the classes from courses they are subscribed in.<br>
        </p>
        <p>
            <br><span class="darkRed">This app is still under construction, but it is already possible to pass some screens and different functionalities such as create, edit and delete courses and users, though any user will have for now the same level of access in the system.</span>
        </p><br>
            <h4>Technologies:</h4>
            <dl class="paddingLeft">
                <dt>- Python</dt>
                <dd>&nbsp; - Flask</dd>
                <dd>&nbsp; - Jinja2</dd>
                <dt>- HTML5</dt>
                <dt>- CSS 3</dt>
                <dd>&nbsp; - CSS</dd>
                <dt>- DB</dt>
                <dd>&nbsp; - PostgreSQL</dd>
            </dl>
    </div>
</article>
<!-- ##### APP Music School End ##### -->