<!-- ##### Movie API Start ##### -->
<article class="initiallyHidden" id="dataMovieAPI">
    <div class="dropdown_position apps">
        <h2 class="secondMessage"><a href="https://raphaelcordonmovieapi.herokuapp.com/" id="app_movieapi" target="_blank">https://raphaelcordonmovieapi.herokuapp.com/</a></h2>
        The app connects to OMDb API in order to obtain a list of:<br>
        <dt>&nbsp; - Movies</dt>
        <dt>&nbsp; - Series</dt>
        <dt>&nbsp; - Games</dt>
        <dt>&nbsp; - Live Concerts</dt>
        <br>
        <p>
        OMDb API offers two types of search:<br>
        <dt>&nbsp; - Multiple results: </dt>I used this one to list all the results related to the name typed.<br>
        <dt>&nbsp; - Specific data: </dt>Once clicked on "More Details" from a movie, the detailed search according to the IMDB ID will be shown.
        </p><br>

        <h4>Technologies:</h4>
        <dl class="paddingLeft">
            <dt>- Python</dt>
            <dd>&nbsp; - Flask</dd>
            <dd>&nbsp; - Jinja2</dd>
            <dt>- JavaScript</dt>
            <dt>- HTML5</dt>
            <dt>- CSS 3</dt>
            <dd>&nbsp; - CSS</dd>
            <dt>- Third-party</dt>
            <dd>&nbsp; - OMDb API</dd>
        </dl>
    </div>
    <hr/>
</article>
<!-- ##### Movie API End ##### -->