 <!-- ##### APP Resenhando Start ##### -->
<article class="initiallyHidden" id="dataResenhando">
    <div class="dropdown_position apps">
        <h2 class="secondMessage"><a href="http://www.resenhando.co/" id="app_resenhando" target="_blank">http://resenhando.co (Portuguese only)</a></h2>
        <p>
            The app is a mini 'social-media' where the users can review an Artist, Albun or Music.<br>
            The data from artists and musics are brought from Spotipy, an API from Spotify, the user only needs to pick the item to be reviewed and write the review, pretty simple.
        </p>
        <br>
        <p>
            Since it's a side-project I gave myself the pleasure to see the final product done in my mother tongue. Also, since most of my friends are Brazilian, it made more sense to use Portuguese instead of English, though the code itself is all written in English (check on Github).
        </p>
        <br>
        
        <h4>Technologies:</h4>
        <dl class="paddingLeft">
            <dt>- Python</dt>
            <dd>&nbsp; - Flask</dd>
            <dd>&nbsp; - Blueprint</dd>
            <dd>&nbsp; - Jinja2</dd>
            <dt>- JavaScript</dt>
            <dd>&nbsp; - JavaScript</dd>
            <dd>&nbsp; - JQuery</dd>
            <dt>- HTML5</dt>
            <dt>- CSS 3</dt>
            <dd>&nbsp; - CSS</dd>
            <dd>&nbsp; - Bootstrap</dd>
            <dd>&nbsp; - FontAwasome</dd>
            <dt>- Third-party</dt>
            <dd>&nbsp; - Spotipy</dd>
            <dd>&nbsp; - Gmail</dd>
            <dt>- DB</dt>
            <dd>&nbsp; - PostgreSQL</dd>
        </dl>
    </div>
    <hr/>
</article>
<!-- ##### App Resenhando End ##### -->