<!-- ##### PM Article Start ##### -->
<article class="initiallyHidden" id="dataPM">
    <div class="dropdown_position">
        <h5 class="thirdMessage">Skills and Background</h5>
        <section class="appsBackground">
            <p class="darkRed"> Under Construction</p>
            <p class="paddingBottom">My career as a Project Manager mixes the empirical knowledge that years of
                practical experience provide and academic knowledge and extensive periods of self-study.</p>
            <p class="paddingBottom">Accredited with relevant certifications such as PMP (PMI) and PSM-1 (Scrum.org),
                in addition to an MBA in Project Management and ITIL Foundations certification (Exin).</p>
            <hr/>
            <p class="paddingBottom">My last four professional years had been focused in Management of Projects for
                Software Development implementations for internal and external customers, managing multiple projects of
                different levels of complexity and sizes.</p>
            <p class="paddingBottom">I am very skilled on understanding the business needs and translating it to the
                technical areas, using different approaches and techniques, mixing Agile practices including Scrum and
                Kanban and traditional Waterfall best practices when needed.</p>
        </section>
    </div>
</article>
<!-- ##### PM Article End ##### -->