<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Passato Remoto</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoRemotoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoRemotoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoRemotoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoRemotoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoRemotoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoRemotoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoRemotoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoRemotoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoRemotoLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoRemotoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoRemotoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoRemotoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoRemotoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoRemotoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoRemotoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoRemotoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoRemotoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoRemotoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
    </div>