<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Passato Prossimo</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoProssimoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoProssimoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoProssimoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoProssimoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoProssimoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoProssimoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoProssimoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoProssimoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoProssimoLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoProssimoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoProssimoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoProssimoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoProssimoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoProssimoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoProssimoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoPassatoProssimoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoPassatoProssimoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoPassatoProssimoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>