<div class="col pt-1 pb-1">
      <div class="p-3 border bg-light">
          <div class="text-center">Trapassato Prossimo</div>
          <table class="table table-borderless p-0 m-0">
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoProssimoIo"> io </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoProssimoIo" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoProssimoIo }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoProssimoTu"> tu </span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoProssimoTu" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoProssimoTu }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoProssimoLui">lui</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoProssimoLui" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoProssimoLui }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoProssimoNoi">noi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoProssimoNoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoProssimoNoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoProssimoVoi">voi</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoProssimoVoi" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoProssimoVoi }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
              <tr>
                  <td  class="pb-0 mb-0">
                      <div class="input-group input-group-sm">
                          <span class="input-group-text" id="indicativoTrapassatoProssimoLoro">loro</span>{% for verbo in ilverbo %}
                          <input type="text" class="form-control" name="indicativoTrapassatoProssimoLoro" oninput="this.value = this.value.toLowerCase()" value="{{ verbo.indicativoTrapassatoProssimoLoro }}">
                          {% endfor %}
                      </div>
                  </td>
              </tr>
          </table>
      </div>
</div>