<!-- ##### Footer Start ##### -->
<footer class="m-0 p-0">

    <p class="mt-2">
        <a class="p-3" href="#" data-toggle="modal" data-target="#talkToUsModal">Talk to us</a> |
        <a class="p-3" href="#" data-toggle="modal" data-target="#aboutUsModal">About us</a>
    </p>

        <!-- Cookie Consent by https://www.FreePrivacyPolicy.com -->
        <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
        <script type="text/javascript" charset="UTF-8">
        document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({"notice_banner_type":"headline","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"www.practicetheverb.com"});
        });
        </script>

        <noscript>Cookie Consent by <a href="https://www.freeprivacypolicy.com/" rel="nofollow noopener">Free Privacy Policy website</a></noscript>
        <!-- End Cookie Consent -->


    <!-- Logo -->
    <a class="logoFooter" href="{{ url_for('verbInd.index') }}">
        <img src="{{ url_for('static', filename='verbItaliano/image/logoFooter.png') }}" alt="practiceTheVerb.com, Verbs in Italian,
        English and others">
    </a>
    <p>&copy; PracticeTheVerb.com - 2022</p>
</footer>
<!-- ##### Footer End ##### -->